<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
         <!-- CSS File -->
        <link rel="stylesheet" href="style.css">
        <!-- External Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        <title>Home</title>
    </head>

<body>
        

          
          <div class="row2">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="movies">Movies</a></li>
                <li><a href="tvseries">TV Series</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="register">Register</a></li>
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                      <input class="search" type="search" placeholder="Search" aria-label="Search">
                      <input type="image" name="Name of image button" src="search.png" height="25px" alt="text">
                    </form>
                    
                  </nav>
                 
                  
             
              </ul>
          </div>

          

          
      
        <section class="movies container id=movies">
            <div class="movies-content">
                <div class="movie-box"> 
                    <a href="interstellar">
                        <img src="interstellar.jpg" alt="One piece poster" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title"> Interstellar</h2>
                            <span class="movie-type">Sci-Fi/Thriller</span>
                          
                        </div>
                    </a>

                    
                </div>

                <div class="movie-box">
                    <a href="500Days">
                        <img src="500daysposter.jpg" alt="One piece poster" class="movie-box-img">
                    
                        <div class="box-text">
                            <h2 class="movie-title">500 Days of summer.</h2>
                            <span class="movie-type">Romance/Comedy</span>
                          
                        </div>
                    </a>
                       
                </div>

                <div class="movie-box">
                    <a href="OnePiece" >
                    <img src="OPposter.jpg" alt="One piece poster" class="movie-box-img">
                    <div class="box-text">
                        <h2 class="movie-title"> One Piece Film:Red</h2>
                        <span class="movie-type">Adventure/Action</span>
                     
                    </div>
                    </a>
                </div>

              

                <div class="movie-box">
                    <a href="yourname.html">
                        <img src="ruben.jpg" alt="Your Name poster" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title"> Your Name.</h2>
                            <span class="movie-type">Adventure/Action</span>
                       
                        </div>
                    </a>

                   
                </div>

                <div class="movie-box">
                    <a href="pulpfiction.html">
                        <img src="pulp-fiction.jpg" alt="Pulp poster" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title"> Pulp Fiction</h2>
                            <span class="movie-type">Adventure/Action</span>
                       
                        </div>
                    </a>

                    
                </div>

             

                <div class="movie-box">
                    <a href="#">
                        <img src="parasite.jpg" alt="Parasite poster" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title"> Parasite</h2>
                            <span class="movie-type">Adventure/Action</span>
                       
                        </div>
                    </a>

                 
                </div>

                <div class="movie-box">
                    <a href="">
                        <img src="shining.jpg" alt="Shining poster" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title"> The Shining</h2>
                            <span class="movie-type">Adventure/Action</span>
                       
                        </div>
                    </a>

                   
                </div>

                <div class="movie-box">
                    <a href="">
                        <img src="dahmer.jpg" alt="Dahmer poster" class="movie-box-img">
                        <div class="box-text">
                            <h2 class="movie-title"> Dahmer</h2>
                            <span class="movie-type">Adventure/Action</span>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>