
body{
  background-color: lightblue;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}


.header{
  
  padding: 0 0 0 25px;
  margin-left: 0;
}

.movie-title{
  text-decoration: underline;
  display: inline;
  font-style: italic;
  font-weight: bold;
}

.container {
  padding: 5% 10%;
}

.talk-bubble {
	margin: 45px;
  display: inline-block;
  position: relative;
	width: 400px;
	height: auto;
	background-color: #F1F7ED;
}
.border{
  border: 8px solid #54494B;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}


.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #54494B #54494B transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: #F1F7ED #F1F7ED transparent transparent;
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 5;
  background-color: #91C7B1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 0;
}

.talktext{
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
	text-align: left;
  line-height: 1.5em;
  background-color: #F1F7ED;
  
}

.user-info{
	padding: 4% 4%;
  height: 50px;
  background-color: #91C7B1;
}

.username{
  font-size: 12px;
  font-weight: 900;
  padding: 0% 17%;
  margin-left: auto;
	margin-right: auto;
}

.title{
  font-size: 10px;
  font-weight: 450;
  padding: 0% 17%;
  
}

.submission-date{
  font-size: 10px;
  font-style: italic;
  padding: 0% 17%;
}

.pfp {
  float: left;
  display: block;
  height: 50px;
  width: 50px;
  border: 3px solid rgb(116, 116, 116);;
  border-radius: 50%;
}

.rating {
  font-size: 16px;
  font-weight: bolder;
  padding: 5px 40px;
  
}
